.char-est{
    
    
    color: black;
    width: 32%;
    padding: 10px;
    position: relative;
    text-align: left;
    float:left;
    margin:0px 0px 0px 160px ;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
    
    
    
}

.char-est2{
    
    
    color: black;
    width: 45%;
    margin:40px 120px 0px 0px ;
    padding: 10px;
    position: relative;
    text-align: left;
    float: right;
    
    
}

.cont3{
    position: absolute;
    top: 53%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.date, .time, .hr, .minutes, .hrlabel, .minlabel, .kwslabel, .kws{
    font-weight: 600;
    padding: 3px;
    
}
.cunsumption, .st, .duration{
    margin-right: 50px;
}
td, th {
    text-align: left;
    padding: 8px;
    
  }
  table{
      width: 100%;
      font-family: 'Open-sans', sans-serif;
      border-collapse: collapse;
  }
 .tdl{
   border-top: 2px solid rgba(111, 109, 109, 0.5);
   font-weight: 700;
   
 }
 .dlr, .total{
     color: green;
 }
 .payicons{
     margin: auto;
     left: 17%;
     width:100%;
     position: relative;
 }
 .char-est2 h2{
     color: #4A4747;
     bottom: 100%;
     left: 34%;
     position:absolute;
 }
  .payicons a{
      background-color: transparent;
      height:65px
  }
.iconp, .iconp1{
    height: 60px;
    padding:0px 25px ;
    border: none;
    border-radius:10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
  }
  .iconp1{
      background-color: #CCECFF;
      
  }
  .prcdpay{
      
      margin-top: 190px;
      

  }
  .paybutton{
      background-color: #1D741BCC;
      padding: 10px 25px;
      border: none;
      border-radius: 50px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      color: white;
      font-size: 20px;
      width: 18%;
      text-align: center; 
      margin: auto;    
          
  }
  @media only screen and (max-width:361px) {
    /* For mobile phones: */
    .char-est{
        width: auto;
        margin:0px 20px ;
        padding: 6px 15px 5px 6px;
        position: relative;
        
    }
    
    .char-est2{
        width:auto;
        margin:188px auto auto 25px ;
        padding: 10px;
        position: absolute;
        
    }
    .char-est2 h2{
        left: 0;
    }
    .payicons{
        margin: auto;
        left: 0%;
        width:100%;
        position: relative;
    }
    .iconp, .iconp1{
        height: 40px;
        padding:0px 15px ;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      }

    table{
        width: 100%;
        font-size: 12px;
    }
    .paybutton{
        font-size: 15px;
        padding: 10px 5px;
        margin:280px auto 10px auto;
        width: 38%;
        text-align: center;
    }
    .cont3{
        top: 45%;
    }

  }
  @media (min-width:361px) and (max-width:376px) {
    /* For mobile phones: */
    .char-est{
        width: auto;
        margin:0px 20px ;
        padding: 6px 15px 5px 6px;
        position: relative;
        
    }
    
    .char-est2{
        width:auto;
        margin:188px auto auto 25px ;
        padding: 10px;
        position: absolute;
        
    }
    .char-est2 h2{
        left: 0;
    }
    .payicons{
        margin: auto;
        left: 0%;
        width:100%;
        position: relative;
    }
    .iconp, .iconp1{
        height: 40px;
        padding:0px 15px ;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      }

    table{
        width: 100%;
        font-size: 12px;
    }
    .paybutton{
        font-size: 15px;
        padding: 10px 5px;
        margin:280px auto 10px auto;
        width: 38%;
        text-align: center;
    }
    .cont3{
        top: 45%;
    }
  }
  @media (min-width:376px) and (max-width:394px) {
    /* For mobile phones: */
    .char-est{
        width: 85%;
        margin:0px 20px 0px 20px;
        padding: 6px 15px 5px 6px;
        position: relative;
        
    }
    
    .char-est2{
        width:auto;
        margin:188px auto auto 25px ;
        padding: 10px;
        position: absolute;
        
    }
    .char-est2 h2{
        left: 0;
    }
    .payicons{
        margin: auto;
        left: 0%;
        width:100%;
        position: relative;
    }
    .iconp, .iconp1{
        height: 48px;
        padding:0px 15px ;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      }

    table{
        width: 100%;
        font-size: 12px;
    }
    .paybutton{
        font-size: 15px;
        padding: 10px 5px;
        margin:350px auto 10px auto;
        width: 38%;
        text-align: center;
    }
    .cont3{
        top: 40%;
    }
    
  }
  @media (min-width:394px) and (max-width:413px) {
    /* For mobile phones: */
    .char-est{
        width: 90%;
        margin:0px 20px 0px 10px ;
        padding: 6px 15px 5px 6px;
        position: relative;
        
    }
    
    .char-est2{
        width:auto;
        margin:188px auto auto 25px ;
        padding: 10px;
        position: absolute;
        
    }
    .char-est2 h2{
        left: 0;
    }
    .payicons{
        margin: auto;
        left: 0%;
        width:100%;
        position: relative;
    }
    .iconp, .iconp1{
        height: 52px;
        padding:0px 15px ;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      }

    table{
        width: 100%;
        font-size: 12px;
    }
    .paybutton{
        font-size: 15px;
        padding: 10px 5px;
        margin:400px auto 10px auto;
        width: 38%;
        text-align: center;
    }
    .cont3{
        top: 38%;
    }
    
  }
  @media (min-width:413px) and (max-width:415px) {
    /* For mobile phones: */
    .char-est{
        width: 85%;
        margin:0px 0px 0px 20px;
        padding: 6px 15px 5px 6px;
        position: absolute;
        
    }
    
    .char-est2{
        width:auto;
        margin:188px auto auto 25px ;
        padding: 10px;
        position: absolute;
        
    }
    .char-est2 h2{
        left: 0;
    }
    .payicons{
        margin: auto;
        left: 0%;
        width:100%;
        position: relative;
    }
    .iconp, .iconp1{
        height: 55px;
        padding:0px 15px ;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 2, 0.10);
      }

    table{
        width: 100%;
        font-size: 12px;
    }
    .paybutton{
        font-size: 15px;
        padding: 10px 5px;
        margin:380px auto 10px auto;
        width: 38%;
        text-align: center;
    }
    .cont3{
        top: 38%;
    }
    
  }